

/*ABOUt*/
.container {


    h1{
        margin: auto;
        text-align: center;
    }

    .contenedor_about{
        display: flex;
        padding: 60px;
        flex-wrap: wrap;

        .nombre{
            padding: 50px;
            text-align: right;
            line-height: .1;
        }
        .foto{
            width: 250px;
            height: 250px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid #ffffff;
            
            background-image: url("../assets/img/perfil.png");
            background-size: cover;
            background-position: center;
        }

        .datos{
            padding: 50px;
            line-height: .1;
        }

    }
}
.habilidades{
    text-align: center;
    p{
        text-align: start;
    }
}











@media screen and (max-width: 640px) {

    .contenedor_about{
        width: 100%;
        padding: 0;
        
       

        .nombre{
            width: 100%;
            order: 2;
            text-align:left;
            line-height: .1;
        }
        .foto{
            order: 1;
            width: 250px;
            height: 250px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid #ffffff;
            background-image: url("../assets/img/perfil.png");
            background-size: cover;
            background-position: center;
        }

        .datos{
            order: 3;
            padding: 50px;
            line-height: .1;
        }

    }
 
        
      
    
}

.container_barras{
    width: 80%;
    margin: auto;
}
