.container_experience{
    width: 1044px;
    margin: auto;

    h1, p{
        max-width: 950px;
        padding: 5px 20px;
    }
 

 }  

 .contenedor_experiencias{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
    
    article{
        width: 280px;
        height: auto;
        background-color: white;
        padding: 10px;
        margin: 10px;
        -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.22);
        box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.22);
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        H2, p{
            padding: 10px 20px;
            text-align: center;

        }
        
        img{
            width: 100%;
            border-radius: 7px;
        }
    }
    
 }

